.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0%;
    box-shadow: 5px 5px 5px gray;
    color: blueviolet;
}

.heading_div
{
    float: none;
    background: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.heading_div2
{
    font-size: 18px;
}

.label_div
{
    margin-bottom: 15px;
}

canvas{
    border: 7px solid rgb(0, 174, 255);
    border-radius: 20px;
    box-shadow: 10px 10px 10px yellow;
    margin-top: 150px;
}